{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "babel-plugin-transform-vite-meta-env",
      {
        "VITE_TMDB_IMAGE_URL": "https://image.tmdb.org/t/p/w500",
        "VITE_TMDB_API_KEY": "test-api-key",
        "VITE_TMDB_API_URL": "https://api.themoviedb.org/3"
      }
    ]
  ]
}